/*
 * -------------------------------------------------
 *  amchakra/tosca config file
 * -------------------------------------------------
 * Main config for the hiCLIP pipeline
 */


// Main parameters
params {
  // General
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"

  // Logging options
  monochrome_logs = false

  // Computing options - defaults only
  max_memory = 8.GB
  max_cpus = 4
  max_time = 240.h
}

// Enable Nextflow tracing
timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Include other configs
includeConfig 'conf/crick.config'
includeConfig 'conf/genomes.config'