/*
 * -------------------------------------------------
 *  amchakra/tosca config file
 * -------------------------------------------------
 * Main config for the hiCLIP pipeline
 */


// Main parameters
params {
  // General
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
}

// Include other configs
includeConfig 'luslab-nf-modules/configs/luslab-base.config'
includeConfig 'conf/genomes.config'

// Static details about the pipeline
manifest {
  name = 'amchakra/tosca'
  author = 'Anob Chakrabarti'
  homePage = 'https://github.com/amchakra/tosca'
  description = 'Nextflow hiCLIP analysis pipeline.'
  nextflowVersion = '>=20.07.01'
  version = '0.1'
}

// Module parameters
params {
  modules {
    'TRIMADAPTERS' {
      publish_dir           = "trimmed"
      publish_results       = "all"
      args                  = "--minimum-length 16 -q 10 -a AGATCGGAAGAGC"
    }
    'PREMAP' {
      args                  = "--outFilterMultimapNmax 20 --outSAMmultNmax 1 --outSAMunmapped Within --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterType BySJout --alignIntronMin 20 --alignIntronMax 100000 --outSAMattributes All --outSAMtype BAM SortedByCoordinate --limitBAMsortRAM 60000000000"
      publish_dir           = "premap"
      publish_results       = "all"
    }
  }
}