

// CAMP slurm
process {
  executor = 'slurm'
}

// Enable Nextflow tracing
timeline {
  enabled = true
  file = "timeline.html"
}
report {
  enabled = true
  file = "report.html"
}
trace {
  enabled = true
  file = "trace.txt"
}
dag {
  enabled = true
  file = "pipeline_dag.svg"
}

// Crick specific computing max resource levels
params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = 72.h
}