/*
 * -------------------------------------------------
 *  amchakra/tosca crick config file
 * -------------------------------------------------
 * Specific config for the Francis Crick Institute CAMP computing cluster
 * Adapter from luslab/group-nextflow-clip
 */

// singularity {
//   enabled = true
//   autoMounts = true
// }

// Load some standard modules before running script
process {
  executor = 'slurm'
}

// Crick specific computing max resource levels
params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = 72.h
}

// Create process scaling defaults for running on a cluster
// process {

//   // Memory and time increases with the number of retrys
//   cpus = { check_max( 2, 'cpus' ) }
//   memory = { check_max( 4.GB * task.attempt, 'memory' ) }
//   time = { check_max( 2.h * task.attempt, 'time' ) }

//   errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
//   maxRetries = 1
//   maxErrors = '-1'

//   // Process-specific resource requirements
//   withLabel: low_memory {
//     memory = { check_max( 16.GB * task.attempt, 'memory' ) }
//   }
//   withLabel: mid_memory {
//     cpus = { check_max (4, 'cpus')}
//     memory = { check_max( 28.GB * task.attempt, 'memory' ) }
//     time = { check_max( 8.h * task.attempt, 'time' ) }
//   }
//   withLabel: high_memory {
//     cpus = { check_max (10, 'cpus')}
//     memory = { check_max( 70.GB * task.attempt, 'memory' ) }
//     time = { check_max( 8.h * task.attempt, 'time' ) }
//   }
  
// }