#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  amchakra/tosca config file
 * -------------------------------------------------
 * Default parameters config
 */

params {

    org = false
    genomesdir = false

    // Cutadapt
    adapter = 'AGATCGGAAGAGC'
    min_quality = 10
    min_readlength = 16

    // Premapping
    skip_premap = false

    // Additional STAR args
    star_args = ''

    // BLAT options
    step_size = 5
    tile_size = 11
    min_score = 15

    // Hybrid identification
    split_size = 100000 
    evalue = 0.001
    maxhits = 100

    // Hybrid processing
    umi_separator = '_'
    dedup_method = 'directional' 
    chunk_number = 100
    cluster_old = false  
    slurm = false 
    analyse_structures = false
    clusters_only = true
    shuffled_energies = false
    percent_overlap = 0.75
    sample_size = -1

    // Atlas
    skip_atlas = false

    // Contact maps and arcs
    goi = false
    bin_size = 100
    breaks = "none"

    //QC
    skip_qc = false

}

