#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  amchakra/tosca config file
 * -------------------------------------------------
 * Default parameters config
 */

params {

    // Virus pipeline
    // virus = false
    org = false

    // Cutadapt
    adapter = 'AGATCGGAAGAGC'
    min_quality = 10
    min_readlength = 16

    // Premapping
    premap = true

    // Additional STAR args
    star_args = ''

    // Hybrid identification
    split_size = 100000 
    evalue = 0.001
    maxhits = 100

    // Hybrid processing
    umi_separator = '_'
    dedup_method = 'directional'    
    shuffled_mfe = false    
    percent_overlap = 0.75
    sample_size = -1

    // Premapping
    atlas = true

    // Contact maps
    goi = false
    bin_size = 100

}

