#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  amchakra/tosca config file
 * -------------------------------------------------
 * Genomes config for the hiCLIP pipeline
 * Inspired by nf-core iGenomes config
 */

params.genomesdir = "/camp/lab/luscomben/home/users/chakraa2/projects/flora/ref"

params {
    genomes {
        'mouse' {
            genome_fa       = "${params.genomesdir}/mouse/GRCm38.primary_assembly.genome.fa"
            genome_fai      = "${params.genomesdir}/mouse/GRCm38.primary_assembly.genome.fa.fai"
            genome_gtf      = "${params.genomesdir}/mouse/gencode.vM24.annotation.gtf.gz"
            transcript_fa   = "${params.genomesdir}/mouse/Mm_GencodeM24_rRNA_MT_genes.fa"
            transcript_fai   = "${params.genomesdir}/mouse/Mm_GencodeM24_rRNA_MT_genes.fa.fai"
            // transcript_csv  = "${params.genomesdir}/mouse/Mm_GencodeM24_rRNA_MT_genes.csv.gz"
            transcript_gtf  = "${params.genomesdir}/mouse/Mm_GencodeM24_rRNA_MT_genes.gtf.gz"
            star_genome     = "${params.genomesdir}/mouse/STAR_GRCm38_GencodeM24"
            star_transcript = "${params.genomesdir}/mouse/STAR_Mm_GencodeM24_rRNA_MT_genes"
        }
        'rat' {
            genome_fa       = "${params.genomesdir}/rat/Rattus_norvegicus.Rnor_6.0.dna.toplevel.fa"
            // genome_fai      = "${params.genomesdir}/rat/Rattus_norvegicus.Rnor_6.0.dna.toplevel.fa.fai"
            genome_fai      = "${params.genomesdir}/rat/Rattus_norvegicus.Rnor_6.0.dna.toplevel.chr.fa.fai"
            genome_gtf      = "${params.genomesdir}/rat/Rn_Ens100_Q_v3.10k_0.01score.extended.chr.gtf.gz"
            transcript_fa   = "${params.genomesdir}/rat/Rn_Ens100Q_rRNA_MT_genes.fa"
            transcript_fai   = "${params.genomesdir}/rat/Rn_Ens100Q_rRNA_MT_genes.fa.fai"
            // transcript_csv  = "${params.genomesdir}/rat/Mm_GencodeM24_rRNA_MT_genes.csv.gz"
            transcript_gtf  = "${params.genomesdir}/rat/Rn_Ens100Q_rRNA_MT_genes.chr.gtf.gz"
            star_genome     = "${params.genomesdir}/rat/STAR_Rnor6_Ensembl100"
            star_transcript = "${params.genomesdir}/rat/STAR_Rn_Ens100Q_rRNA_MT_genes"
            regions_gtf     = "${params.genomesdir}/rat/icount/regions.gtf.gz"
        }
        // 'rat_masked' {
        //     genome_fa       = "${params.genomesdir}/rat/Rattus_norvegicus.Rnor_6.0.dna.toplevel.fa"
        //     genome_fai      = "${params.genomesdir}/rat/Rattus_norvegicus.Rnor_6.0.dna.toplevel.fa.fai"
        //     genome_gtf      = "${params.genomesdir}/rat/Rn_Ens100_Q_v3.10k_0.01score.extended.gtf.gz"
        //     transcript_fa   = "${params.genomesdir}/rat/Rn_Ens100Q_rRNA_MT_genes_masked.fa"
        //     // transcript_csv  = "${params.genomesdir}/rat/Mm_GencodeM24_rRNA_MT_genes.csv.gz"
        //     transcript_gtf  = "${params.genomesdir}/rat/Rn_Ens100Q_rRNA_MT_genes.gtf.gz"
        //     star_genome     = "${params.genomesdir}/rat/STAR_Rnor6_Ensembl100"
        //     star_transcript = "${params.genomesdir}/rat/STAR_Rn_Ens100Q_rRNA_MT_genes_masked"
        // } 
        'human' {
            genome_fa       = "${params.genomesdir}/human/GRCh38.primary_assembly.genome.fa"
            genome_fai      = "${params.genomesdir}/human/GRCh38.primary_assembly.genome.fa.fai"
            genome_gtf      = "${params.genomesdir}/human/gencode.v33.annotation.gtf.gz"
            transcript_fa   = "${params.genomesdir}/human/Hs_GencodeV33_rRNA_MT_genes.fa"
            transcript_fai  = "${params.genomesdir}/human/Hs_GencodeV33_rRNA_MT_genes.fa.fai"
            // transcript_csv  = "${params.genomesdir}/human/Mm_GencodeM24_rRNA_MT_genes.csv.gz"
            transcript_gtf  = "${params.genomesdir}/human/Hs_GencodeV33_rRNA_MT_genes.gtf.gz"
            star_genome     = "${params.genomesdir}/human/STAR_GRCh38_GencodeV33"
            star_transcript = "${params.genomesdir}/human/STAR_Hs_GencodeV33_rRNA_MT_genes"
            regions_gtf     = "${params.genomesdir}/human/icount/regions.gtf.gz"
        }
        'rSARS-CoV-2' {
            genome_fa       = "${params.genomesdir}/human/GRCh38.primary_assembly.genome.fa"
            genome_fai      = "${params.genomesdir}/human/GRCh38.primary_assembly.genome.fa.fai"
            genome_gtf      = "${params.genomesdir}/human/gencode.v33.annotation.gtf.gz"
            transcript_fa   = "/camp/home/chakraa2/home/projects/virus/sars-cov-2/bauer/ref/rSARS-CoV-2.fa"
            transcript_fai  = "/camp/home/chakraa2/home/projects/virus/sars-cov-2/bauer/ref/rSARS-CoV-2.fa.fai"
            transcript_gtf  = "${params.genomesdir}/human/Hs_GencodeV33_rRNA_MT_genes.gtf.gz"
            star_genome     = "${params.genomesdir}/human/STAR_GRCh38_GencodeV33"
            star_transcript = "${params.genomesdir}/human/STAR_Hs_GencodeV33_rRNA_MT_genes"
        }
        'SARS-CoV-2-England-2-2020' {
            transcript_fa   = "/camp/home/chakraa2/home/projects/virus/sars-cov-2/bauer/ref/SARS-CoV-2-England-2-2020.fa"
            transcript_fai  = "/camp/home/chakraa2/home/projects/virus/sars-cov-2/bauer/ref/SARS-CoV-2-England-2-2020.fa.fai"
        }
    }
}