#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  amchakra/tosca config file
 * -------------------------------------------------
 * Genomes config for the hiCLIP pipeline
 * Inspired by nf-core iGenomes config
 */

params {
    genomes {
        'mouse' {
            genome_fai      = "${params.genomesdir}/mouse/GRCm39.fa.fai"
            transcript_fa   = "${params.genomesdir}/mouse/GRCm39.gencode_M27.fa"
            transcript_fai  = "${params.genomesdir}/mouse/GRCm39.gencode_M27.fa.fai"
            transcript_gtf  = "${params.genomesdir}/mouse/GRCm39.gencode_M27.tx.gtf.gz"
            star_genome     = "${params.genomesdir}/mouse/STAR_GRCm39_GencodeM27"
            regions_gtf     = "${params.genomesdir}/mouse/regions_M27.gtf.gz"
        }
        'human' {
            genome_fai      = "${params.genomesdir}/human/GRCh38.primary_assembly.genome.fa.fai"
            transcript_fa   = "${params.genomesdir}/human/human_GencodeV33.fa"
            transcript_fai  = "${params.genomesdir}/human/human_GencodeV33.fa.fai"
            transcript_gtf  = "${params.genomesdir}/human/human_GencodeV33.gtf.gz"
            star_genome     = "${params.genomesdir}/human/STAR_GRCh38_GencodeV33"
            regions_gtf     = "${params.genomesdir}/human/regions.gtf.gz"
        }
    }
}