#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  amchakra/tosca test config file for Github Actions for CI
 * -------------------------------------------------
 */

docker {
  enabled = true
}

// Crick specific computing max resource levels
params {

  max_memory = 7.GB
  max_cpus = 2
  max_time = 12.h

}

params {

  config_profile_name = 'Github profile'
  config_profile_description = 'Minimal test dataset to check pipeline function using Github Actions for GI'

  // Parameters
  umi_separator = '_' 
  percent_overlap =  0.5
  chunk_number = 1
  skip_qc = true
  skip_premap = true
  skip_atlas = true

  // Files
  input = 'https://raw.githubusercontent.com/amchakra/tosca/main/testdata/test_samplesheet.csv'
  goi = 'https://raw.githubusercontent.com/amchakra/tosca/main/testdata/goi.txt'
  transcript_fa = "https://raw.githubusercontent.com/amchakra/tosca/main/testdata/ref/ARF1_GRCh38.gencode_v33.fa"
  transcript_fai = "https://raw.githubusercontent.com/amchakra/tosca/main/testdata/ref/ARF1_GRCh38.gencode_v33.fa.fai"
  transcript_gtf = "https://raw.githubusercontent.com/amchakra/tosca/main/testdata/ref/ARF1_GRCh38.gencode_v33.tx.gtf.gz"
  genome_fai = "https://raw.githubusercontent.com/amchakra/tosca/main/testdata/ref/chr1_GRCh38.primary_assembly.genome.fa.fai"
  regions_gtf = "https://raw.githubusercontent.com/amchakra/tosca/main/testdata/ref/ARF1_regions.gtf.gz"

}