#!/usr/bin/env nextflow

process {

    withName: 'CUTADAPT' {
        cpus =  '8'
        memory = '16G'
        time = '1h'
    }

    withName: 'GET_HYBRIDS:SPLIT_FASTQ' {
        cpus =  '8'
        memory = '16G'
        time = '1h'
    }

    withName: 'GET_HYBRIDS:FASTQ_TO_FASTA' {
        cpus =  '8'
        memory = '16G'
        time = '1h'
    }

    withName: 'GET_HYBRIDS:BLAT' {
        cpus =  '8'
        memory = '32G'
        time = '8h'
    }

    withName: 'GET_HYBRIDS:FILTER_BLAT' {
        cpus =  '4'
        memory = '16G'
        time = '4h'
    }

    withName: 'GET_HYBRIDS:IDENTIFY_HYBRIDS' {
        cpus =  '8'
        memory = '64G'
        time = '4h'
    }

    withName: 'GET_HYBRIDS:MERGE_HYBRIDS' {
        cpus =  '8'
        memory = '32G'
        time = '1h'
    }

    withName: 'GET_HYBRIDS:DEDUPLICATE' {
        cpus =  '4'
        memory = '64G'
        time = '8h'
    }

    withName: 'GET_NON_HYBRIDS' {
        cpus =  '4'
        memory = '16G'
        time = '1h'
    }

    withName: 'PROCESS_HYBRIDS:CLUSTER_HYBRIDS:CHUNK_HYBRIDS' {
        cpus =  '4'
        memory = '32G'
        time = '1h'
    }

    withName: 'PROCESS_HYBRIDS:CLUSTER_HYBRIDS:IDENTIFY_CLUSTERS' {
        cpus =  '8'
        memory = '32G'
        time = '12h'
    }

    withName: 'PROCESS_HYBRIDS:CLUSTER_HYBRIDS:MERGE_CLUSTERS' {
        cpus =  '8'
        memory = '32G'
        time = '1h'
    }

    withName: 'PROCESS_HYBRIDS:CONVERT_.*_COORDINATES' {
        cpus =  '4'
        memory = '16G'
        time = '1h'
    }

    withName: 'PROCESS_HYBRIDS:ANNOTATE_.*' {
        cpus =  '4'
        memory = '16G'
        time = '1h'
    }

    withName: 'PROCESS_HYBRIDS:COLLAPSE_CLUSTERS' {
        cpus =  '4'
        memory = '16G'
        time = '2h'
    }

    withName: 'EXPORT_INTRAGENIC:EXPORT_.*_BED' {
        cpus =  '4'
        memory = '16G'
        time = '1h'
    }

    withName: 'EXPORT_INTRAGENIC:CONVERT_BED_TO_BAM' {
        cpus =  '4'
        memory = '16G'
        time = '1h'
    }

}

if(!params.skip_qc) {

    process {

        withName: 'MAKE_REPORT:TOSCA_QC' {
            cpus =  '4'
            memory = '32G'
            time = '1h'
        }

        withName: 'MAKE_REPORT:MULTIQC' {
            cpus =  '1'
            memory = '16G'
            time = '1h'
        }

    }

}

if(!params.skip_premap) {

    process {

        withName: 'PREMAP:STAR' {
            cpus =  '8'
            memory = '48G'
            time = '2h'
        }

        withName: 'PREMAP:FILTER_SPLICED_READS' {
            cpus =  '4'
            memory = '16G'
            time = '2h'
        }

    }

}

if(params.cluster_old) {

    process {

        withName: 'PROCESS_HYBRIDS:CLUSTER_HYBRIDS_SLURM' {
            cpus =  '8'
            memory = '32G'
            time = '12h'
        }

    }

}

if(params.analyse_structures) {

    process {

        withName: 'ANALYSE_STRUCTURE' {
            cpus =  '4'
            memory = '16G'
            time = '12h'
        }

    }

}

if(!params.skip_atlas) {

    process {

        withName: 'GET_ATLAS:MERGE_ATLAS_HYBRIDS' {
            cpus =  '8'
            memory = '32G'
            time = '1h'
        }

        withName: 'GET_ATLAS:CLUSTER_ATLAS_HYBRIDS:CHUNK_HYBRIDS' {
            cpus =  '4'
            memory = '32G'
            time = '1h'
        }

        withName: 'GET_ATLAS:CLUSTER_ATLAS_HYBRIDS:IDENTIFY_CLUSTERS' {
            cpus =  '8'
            memory = '32G'
            time = '12h'
        }

        withName: 'GET_ATLAS:CLUSTER_ATLAS_HYBRIDS:MERGE_CLUSTERS' {
            cpus =  '8'
            memory = '32G'
            time = '1h'
        }

        withName: 'GET_ATLAS:EXPORT_.*_BED' {
            cpus =  '4'
            memory = '16G'
            time = '1h'
        }

        withName: 'GET_ATLAS:CONVERT_ATLAS_BED_TO_BAM' {
            cpus =  '4'
            memory = '16G'
            time = '1h'
        }

        withName: 'GET_ATLAS:COLLAPSE_ATLAS_CLUSTERS' {
            cpus =  '4'
            memory = '16G'
            time = '2h'
        }

        withName: 'GET_ATLAS:CONVERT_CLUSTER_COORDINATES' {
            cpus =  '4'
            memory = '16G'
            time = '1h'
        }

        withName: 'GET_ATLAS:ANNOTATE_CLUSTERS' {
            cpus =  '4'
            memory = '16G'
            time = '1h'
        }

        withName: 'GET_ATLAS:EXPORT_CLUSTER_BED' {
            cpus =  '4'
            memory = '16G'
            time = '1h'
        }

    }

}

if(params.goi) {

    process {

        withName: 'GET_CONTACT_MAPS' {
            cpus =  '8'
            memory = '32G'
            time = '6h'
        }

    }
}


