#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  amchakra/tosca test config file
 * -------------------------------------------------
 */

singularity {
  enabled = true
  autoMounts = true
}

params {

  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus   = 4
  max_memory = 8.GB
  max_time   = 6.h

  // Parameters
  umi_separator = '_' 
  percent_overlap 0.5
  skip_qc = true
  skip_premap = true
  skip_atlas = true

}